.button{
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    font-size: 20px;
}
.button:hover{
    background-color: #8100eb;
    transition: 0.3s;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
